body {
  background-color:whitesmoke;
  margin:0;
  overflow-y: hidden;
  background-image: url(../bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb:before {
    width:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.moodboard {
  height:100vh;

}


.moodboard img{
  height:100vh;
  width:auto;
  pointer-events: none;
  position: relative;
  z-index: 4;
  display: block;
}


.interaction-wrapper {
  position: absolute;
  left:300vh;
  top:10vh;
  display:flex;
  flex-wrap:wrap;
  height:100vh;
  width:200vh;
  overflow: hidden;
}

.illo-wrapper {
  width: 50vh;
  height: 50vh;
  position:relative;
  transform-style:preserve-3d;
  perspective: 9000px;
  position: absolute;

  
}

.illo-wrapper:hover {

  
}

.illo-wrapper:nth-child(1) {
  top:3vh;
  left:20vh;
  width: 60vh;
  height: 60vh;
  
}

.illo-wrapper:nth-child(2) {
  top:3vh;
  left:95vh;
  
}

.illo-wrapper:nth-child(3) {
  top:45vh;
  left:66vh;
  
}

.illo-wrapper:nth-child(4) {
  top:45vh;
  left:130vh;
  
}







.illo-content > * {
  margin:0;
}

.illo-content {
  transition:300ms;
  position:absolute;
  top:6vh;
  left:6vh;
  right:6vh;
  bottom:6vh;
  padding:2vh;
  width:100%;
  transform:translateZ(150px);
  color:#235868;

background: rgba(245,245,245,0.0);
   box-sizing: border-box;

}


.illo-wrapper:nth-child(1) .illo-content{
  padding:3vh;
  
}

.illo-wrapper:nth-child(1) .illo-content h6{
  color:#AADF72;
}

.illo-wrapper:nth-child(2) .illo-content h6{
  color:#36C3AE;
}

.illo-wrapper:nth-child(3) .illo-content h6{
  color:#DF7298;
}

.illo-wrapper:nth-child(4) .illo-content h6{
  color:#7CE4E6;
}

.illo-content > * {
  opacity:0;
  transition:300ms;
  transform:translateY(-1vh);
  -webkit-font-smoothing: antialiased;
}

.illo-content > *:nth-child(1) {
  transition-delay:0ms;
}

.illo-content > *:nth-child(2) {
  transition-delay:100ms;
}

.illo-content > *:nth-child(3) {
  transition-delay:200ms;
}

.illo-content > *:nth-child(4) {
  transition-delay:300ms;
}

.illo-content > *:nth-child(5) {
  transition-delay:400ms;
}

.illo-content > *:nth-child(6) {
  transition-delay:500ms;
}

.illo-wrapper svg {
  transition:300ms;
}

.illo-wrapper:hover svg {
  opacity:.2;
}


.illo-wrapper:hover .illo-content > * {
  opacity:1;
  transform:translateY(0vh);
}

.illo-content svg{
  width:20vh;
  height:auto;
  
}

.illo-content h6{
  font-size:3vh;
}

.illo-content h4{
  font-size:1.6vh;
  font-family:monospace;
  font-family: 'Source Code Pro', monospace;

  
}

.illo-content h3{
  font-size:4vh;
  margin:.3em 0;
  line-height:1.2;
  font-family: 'Source Serif Pro', serif;
}


.illo-layer{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:block;

}

.illo-layer-1 {
  transform:translateZ(50px);
}

.illo-layer-3 {
  transform:translateZ(-50px);
}



